.content{
  border: 1px solid rgb(204, 204, 204);
  display:flex;
  flex-direction: column;
  margin: 15px;
  border-radius: 10px;
  height: 700px;
  overflow: hidden;
}

.chatbot-container{
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-bottom: 15px;
}

.flex{
  display:flex;
}
.flex-col{
  flex-direction: column;
}

img { object-fit: contain; }

.mt-auto{
  margin-top: auto;
}

header{
  display: flex;
  padding: 15px 15px;
  background-color: rgb(247, 247, 247);
}


header .title{
  padding-left: 13px;
  padding-top: 5px;
  font-size: 1.15rem;
  color: rgb(34, 34, 34);
  display:flex;
}

header .title .online-dot{
  padding: 4px 4px;
  margin: auto 5px auto 15px;
  background-color: rgb(89, 206, 89);
  border-radius: 100%;
}

header .title .online{
  font-size:15px;
  margin: auto 0px;
  color: rgb(89, 206, 89);
}

.chat-area{
  padding: 10px;
  height: 100%;
  display:flex;
  flex-direction: column;
}


.chat-area div{
  padding: 5px 10px;
  font-size: 11pt;
}


.chat-area .bot-message{
  border-radius: 12px 12px 12px 5px;
  background-color: rgb(214, 214, 214);
  margin: 0 auto 12px 0;
}

.chat-area .user-message{
  border-radius: 12px 12px 5px 12px;
  background-color: rgb(56, 171, 224);
  margin: 0 0 12px auto;
  color: white;
}

.typing-indicator {
    position: relative;
    animation: 2s pulse infinite ease-out;
}


 .typing-indicator span {
    height: 10px;
    width: 10px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}

.typing-indicator span:nth-child(1)
{
    animation: 1s blink infinite .3333s;
}

.typing-indicator span:nth-child(2)
{
    animation: 1s blink infinite .6666s;
    margin: 0px 5px;
}

.typing-indicator span:nth-child(3)
{
    animation: 1s blink infinite .9999s;
}

@keyframes blink
{
    50%
    {
        opacity: 1;
    }
}

@keyframes pulse
{
    50% {
        transform: scale(1.05);
    }
}


.chat-footers{
  margin: 0 12px 12px 12px;
  display: flex;
}

.chat-footers input{
  padding: 10px 10px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 25px;
  background-color: rgb(253, 253, 253);
  outline: 0;
  width: 90%;
}

.chat-footers button{
  padding: 10px 10px;
  border-radius: 25px;
  margin: auto 0 0 5px;
  border: 0;
  color: white;
  background-color: rgb(0, 132, 255);
  cursor: pointer;
}





input[type="file"]
{
  opacity:0;
 -moz-opacity: 0;
 /* IE 5-7 */
 filter: alpha(Opacity=0);
 /* Safari  */
  -khtml-opacity: 0;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 0px;
  height: 0px;

 }
 .input-file
{
    text-align: center;
    color: #fff;
    display: block;
    width: 15px;
    height: 15px;
    font-size: 17px;
    color: rgb(185, 185, 185);
    padding: 5px;
    font-weight: bold;
    margin: auto 9px auto 0px;
 }

  .input-file:hover{
    color:rgb(134, 134, 134);
  }

  .chatbot-btn{
    padding: 10px 20px 10px 20px;
    color: white;
    margin: 10px 10px 10px auto;
    border-radius: 50px;
    background-color: rgb(45, 142, 223);
    cursor: pointer;
  }

  .container{
  width: 600px;
  position: fixed;
  bottom: 0;
  right: 0;
  }

  .cross-btn{
    margin: auto 0px auto auto;
    cursor: pointer;
  }

  .extra-card{
    margin: 0 auto;
  }

  .extra-card div{
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(33, 134, 218);
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor:pointer;
  }
  .quick-card{
    width: 100%;
  }

  a{
    color: rgb(231, 231, 255);
    text-decoration: underline;
  }

  .quick-card div{
    padding: 10px;
    margin: 0 5px 10px 15px;
    background-color: rgb(33, 134, 218);
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor:pointer;
  }
.flex-wrap{
  flex-wrap: wrap;
}
